<h2>Moje notatki</h2>
<div>
  <label>Nazwa:</label> <input #noteName />
<div>  
  <label>Zawartość:</label> <textarea #contents></textarea>
</div>
<div>
  <button (click)="add(noteName.value,contents.value); noteName.value='';contents.value=''">
    Dodaj
  </button>
  </div>
</div>
<ul class="notes">
  <li *ngFor="let note of notes" (click)="onSelect(note)"
      [class.selected]="note === selectedNote">
    <div>
      <span>{{note.name}}</span>
      <button class="delete" (click)="delete(note); $event.stopPropagation()">X</button><br>
    </div>
  </li>
</ul>
<div *ngIf="selectedNote">
  <h2>
    {{selectedNote.name | uppercase}} - nazwa notatki
  </h2>
  <button (click)="gotoDetail()">Zobacz więcej</button>
</div>